@use "variables";

@mixin button {
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #FA954C;
    font-family: variables.$overskrift-font;
    background: variables.$link-color;
    color: white;
    cursor: pointer;
}