@use "variables";

.chatbot {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 70%;
  z-index: 1000;

  background: white;
  color: variables.$primary-color;

  padding: 2rem;
  border-radius: 25px;
  border: 1px solid variables.$primary-color;
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
}

.chatbot.open {
  display: block;
}

button {
    font-family: variables.$font;
}

.svar-btn {
  background: variables.$sec-bg-color; 
  border: 2px solid rgba(variables.$primary-color, 0.4);
  color: variables.$primary-color;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: left;
}

.luk-btn {
    background: transparent;
    border: none;
    color: variables.$secondary-color;
    font-family: variables.$overskrift-font;
    cursor: pointer;
}

.svar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: flex-start;
}

.dialog,
.dialog-extra,
.tip {
  white-space: pre-line;
}

.dialog {
    background: variables.$secondary-color;
    border: 2px solid variables.$primary-color;
    border-radius: 25px 25px 0 25px;
    padding: 20px;
    margin-right: 65px;
}

.dialog-extra {
    background: variables.$secondary-color;
    border: 2px solid variables.$primary-color;
    border-radius: 25px 0 25px 25px;
    padding: 20px;
    margin-right: 65px;
    white-space: pre-line;
}

.bot-ikon {
    font-size: 50px;
    color: variables.$primary-color;
    display: flex;
    justify-content: flex-end;
}

.restart-btn {
    background: transparent;
    border: none;
    color: variables.$secondary-color;
    font-family: variables.$overskrift-font;
    cursor: pointer;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 998;
}

.overlay.open {
  display: block;
}

.cta {
    background:none;
    color: variables.$primary-color;
    border: none;
    margin-left: auto;
    margin-top: 1rem;
    display: block;
}

.feedback-dialog {
    border-radius: 25px;
    margin-right: 20px;
}

.danger {
    background: variables.$color-bad;
}

.succes {
    background: variables.$color-good;
}

.neutral {
    background: variables.$color-neutral;
}

.feedback-ikon {
    display: flex;
    justify-content: flex-start;
}

.feedback-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tip {
    border: 2px solid variables.$primary-color;
    background: variables.$secondary-color;
    border-radius: 25px;
    padding: 20px;
}