@use "variables";

.chatbot {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 70%;

  background: variables.$primary-color;
  color: white;

  padding: 2rem;
  border-radius: 25px;
  border: 2px solid white;
}

.chatbot.open {
  display: block;
}