@use "variables";
@use "buttons";

body {
    box-sizing: border-box;
    margin: 0;
    background-color: variables.$bg-color;
    font-family: variables.$font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$overskrift-font;
}

h1 {
    font-size: 32px;
}

h2, h3, h4, h5, h6 {
    font-size: 26px;
}

p {
    font-size: 14px;
    line-height: 1.3;
}

.container {
    display: grid;
    grid-template-columns: 20px repeat(3, 1fr) 20px;
    grid-auto-rows: minmax(50px, auto);
}

header {
    grid-column: 1/6;
}

nav {
    height: 5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

        img {
            width: 70px;
            height: auto;
        }

        #bars {
            display: block;
            border: none;
            background-color: transparent;
            font-size: 30px;
            color: variables.$secondary-color;
            cursor: pointer;
        }

        #menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 6em;
            right: 0;
            background: variables.$secondary-color;
            width: 70%;
            padding: 1rem;
            list-style-type: none;
            border-radius: 15px;
            transition: all 0.3s ease-in-out;
        }

        #menu.show {
            display: flex;
        }

        a {
            text-decoration: none;
            font-family: variables.$overskrift-font;
            font-size: 20px;
        }
}

button {
    @include buttons.button;
}

.hero {
    background-image: url(../img/ChatGPT\ Image\ 4.\ maj\ 2026\,\ 13.01.29.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

        h1 {
            color: white;
        }
}

.info {
    background-color: variables.$secondary-color;
    border-radius: 25px;
    padding: 10px;
}

main {
    grid-column: 2/5;
}

@media screen and (min-width: 800px) {
    header {
        display: inline;
    }

    nav {
        #bars {
            display: none;
        }

        #menu {
            display: flex;
            position: static;
            flex-direction: row;
            background: none;
            width: auto;
            padding: 0;
            gap: 1em;
        }
    }
}